<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Menu">
	<resultMap type="Menu" id="MenuResult">
		<result property="foodType" column="foodType"/>
		<result property="typeCode" column="typeCode"/>
		<result property="foodKind" column="foodKind"/>
		<result property="kindCode" column="kindCode"/>
			</resultMap>

	<select id="mSelect" parameterType="int" resultMap="MenuResult">
		select * from Menu where typeCode=#{typeCode}
	</select> 
	<select id="ccc" resultType="int">
		select count(*) from Menu
	</select>
	<select id="menuList1" resultMap="MenuResult">
	  select distinct foodType from menu
	</select>
	<select id="menuSelectList" parameterType="String" resultMap="MenuResult">
     select foodKind from menu where foodType = #{foodType}	
	
	</select>
</mapper>